
/*NOTA: i colori della calcolatrice e la disposizione dei tasti sono ispirati alla calcolatrice del
 * mio ipad, di cui metto una foto nella cartella "immagini"
 */


/* general */
:root{
    text-align: center;
    box-sizing: border-box;  
    
}
main{
    margin:3rem;
}
p{
    color: white;
    text-align: right;
}


/*calculator style */

#calculator{
    width: 100%;
    height: 100%;
}
table{
    margin: 0;
    width: 100%;
    background-color: black;
}
table, tr, td{
    border-style: solid;
    border-color: black;
}
.btn{
    background-color: #66757F;
    color: white;
    border-radius: 10%;
}
div p{
    margin: 0.5rem;
}
#accessorio p{
    margin:0;
}
#storia, #calcoliPassati{
    background-color: black;
    margin-bottom: 0;
    padding: 0.1rem;
}

#calcoliPassati p{
    filter: brightness(50%);
}
#display{
    background-color: black;
    padding: 0.1rem;
    border-top-style: solid;
    border-top-color:#FBBC05;
}

#equal{
    background-color: #FBBC05;
}

/* Giorgia button */
button{
font-size:xx-large;
font-family: cursive;
border-radius: 50%;
border-color: red;
height: 10rem;
width:10rem;
background-image: url(../images/500.webp);
background-size:cover;
background-position: -80px;;
}


#istruzioni{
    margin-top: 3rem;
    background-color: coral;
  
    border-style: solid;
}
#istruzioni li{
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}