<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <!-- App Name -->
    <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" href="index.html">Napoli Movies</a>

    <div class="flex flex-grow items-center">



      <ul class="flex flex-row mt-1">

        <!-- menù nella sidebar -->
        <li class="nav-item">
          <a href="" class="nav-link">
            <app-sidebar></app-sidebar>
          </a>
        </li>

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>

        <!-- se sei loggato  -->
          <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" [routerLink]="['/movies']" routerLinkActive="active">Movies</a>
          </li>
        <!-- se non sei loggato -->
          <li class="nav-item" *ngIf="!isLoggedIn"><!--1. questa compare solo se non siamo loggati -->
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active">Signup</a>
          </li>
      </ul>
<button type="button" class="btn btn-danger" (click)="onLogout()" *ngIf="isLoggedIn">Logout</button> <!--2.  questa compare solo se siamo loggati -->

</div>
  </nav>
</header>

