<div class="container d-flex flex-column justify-content-center align-items-center">
  <h1>Relazione parent-child</h1>

  <app-card>
    <h2 class="card-title">titolo card</h2> <!-- questi tag dentro il tag app-card sono "dei parametri" che vengono ripescati da Card e messi nelle posizioni
                                                  degli ng-content -->
    <div class="card-body">
      <app-user-info [user]="u" *ngFor="let u of users"></app-user-info>
    </div>
    <h3 class="carletto">carletto piscialetto</h3>
  </app-card>
</div>
