form{
    background-color: white;
    border-radius: 2em;
    padding: 2rem;
    box-shadow: 10px 10px 5px #5f5a5a;
    #body{
        height: 100%;
        width: 100%;
    }
    #title{
        width:100%;
    }
}