/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
div{
  margin-bottom:3rem
}
.omg{
  font-size:30px;
  color:red;

}
