<app-nav></app-nav>

<div id="body">
  <div class="row">
    <div class="col-2 d-flex flex-row flex-wrap colonna-cuori"> <!-- prima colonna sfondo cuori -->

      <img class="heart heart-left heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-left heart-full" src="../assets/heart-2.svg" alt="cuore"/>
      <img class="heart heart-left heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-left heart-full" src="../assets/heart-2.svg" alt="cuore"/>
      <img class="heart heart-left heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-left heart-full" src="../assets/heart-2.svg" alt="cuore"/>
      <img class="heart heart-left heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-left heart-full" src="../assets/heart-2.svg" alt="cuore"/>

    </div>

    <div class="col-8">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>

    <div class="col-2 d-flex flex-row flex-wrap colonna-cuori"> <!-- seconda colonna sfondo cuori -->

      <img class="heart heart-right heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-right heart-full" src="../assets/heart-2.svg" alt="cuore"/>
      <img class="heart heart-right heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-right heart-full" src="../assets/heart-2.svg" alt="cuore"/>
      <img class="heart heart-right heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-right heart-full" src="../assets/heart-2.svg" alt="cuore"/>
      <img class="heart heart-right heart-empty" src="../assets/heart-1.svg" alt="cuore"/>
      <img class="heart heart-right heart-full" src="../assets/heart-2.svg" alt="cuore"/>

    </div>

  </div>
</div>




<div>

</div>
