
/* GENERALI */
:root{
    text-align: center;
    
}
body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color:#393d41;
}

h1,h2{
    color: #25a2c3;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;

}

h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom:0;
    margin-top:0;
}

body div{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.65;
}
img{
    height: 100%;
    width:100%;

}
hr {
    margin: 2rem 8rem;
    background-color: white;
    border-top: none;
}
/*HEADER */
header div{
    background-color: black;
    padding: 2.5em;
}

#titolo{
font-size: 2rem;
}


/*MAIN*/
/* primo blocco */

@keyframes image-change{
    0%{ background-image: url("../images/theOneRing1.jpeg");}
    50%{background-image: url("../images/banner.jpg");}
    100%{background-image: url("../images/theOneRing1.jpeg");}
}
#corso{
    background-image: url("../images/banner.jpg");
    background-position:center;
    background-size:cover;
    animation-name: image-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
h1{
    margin-top: 0;
    padding-top: 4rem;  
}

#div-partiamo-button{
    padding: 3rem;
}

#div-partiamo-button a{
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border:none;
    padding: 1rem;
    border-radius: 6%;
    text-transform:uppercase;
    text-decoration: none;    
}

@keyframes rotateAnimation {
	0% {transform: rotateY(0deg);}
	50% {transform: rotateY(225deg);}
    100%{transform:rotateY(45deg);}
    
}

#div-partiamo-button:hover{
    
	animation: rotateAnimation 3s;
}

/* secondo blocco */

#secondo-blocco{
    padding-top:5rem;
    padding-bottom: 5rem;
}
#notebook-div{
    padding-right:4.5rem;
    padding-left:4.5rem;
}


#notebook-div img{
    border-radius: 50%;
    margin-top: 3rem;    
}


#notebook-div img:hover{
animation: rotateAnimation 3s;
}
/*terzo blocco */
#terzo-blocco{
    background-color: #f04c2f;
    color: white;
}
#terzo-blocco h2{
color:white;
padding-top: 4rem;
font-size: 3rem;
}

#quotation{
    font-style: italic;
    padding-bottom: 2rem;
    font-size: 1.5rem;  
}

#mario{
    padding-bottom:2rem;
}

#mario span {
    font-size:2rem;
}

/*quarto blocco */
#quarto-blocco div{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#quarto-blocco>div  div{
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-style: solid;
    border-color: #dee1e3;
}
#quarto-blocco div img {
height: 100%;
width: 100%;
object-fit: cover;
}
#quarto-blocco h2{
   font-size: 110%;
}
#quarto-blocco p{
    margin-bottom: 3rem;
}

@keyframes ingrandimento{
    from{ margin-top: 3rem;
          margin-right: 2rem;
          margin-left: 2rem;
        }
    to{
        margin-top:2rem;
        margin-right:1rem;
        margin-left:1rem;
        
       }
}
#quarto-blocco>div  div:hover{
    animation-name: ingrandimento;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/*FOOTER*/
#quinto-blocco{
    background-color: #25a2c3;
    color: white;
}
#quinto-blocco h2{
color:white;
padding-top: 4rem;
font-size: 3rem;
}

#quinto-blocco a, #quinto-blocco p{
    color:white;
    opacity: 0.7;
}

#footer{
    padding-bottom: 5rem;
}