
<div id="movies-container">
<div class="row">


<div class="d-flex flex-column movie col-4 align-items-center justify-content-center" *ngFor="let movie of movies">

<!-- <p>{{movie.title}}</p>
<img class="poster" src="{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}" alt="img of movie">
<button class="btn btn-danger" *ngIf="isItLiked(movie.id)"   (click)="likeToggle(movie.id)" >Dislike</button>
<button class="btn btn-success m-3" *ngIf="!isItLiked(movie.id)" (click)="likeToggle(movie.id)" >Like</button>
 -->
<div class="card d-flex m-4 flex-column align-items-center justify-content-center" style="width: 18rem;">
  <img class="poster card-img-top" src="{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}" alt="img of movie" >
  <div class="card-body d-flex flex-column align-items-center justify-content-center">
    <h5 class="card-title">{{movie.title}}</h5>
    <button class="block w-6/12 bg-rose-800 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500" *ngIf="isItLiked(movie.id)"   (click)="likeToggle(movie.id)" >Dislike</button>
    <button class="block w-6/12 bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500" *ngIf="!isItLiked(movie.id)" (click)="likeToggle(movie.id)" >Like</button>



</div>
</div>

</div>
</div>

</div>




