

a{
  transition: 1s;
  color:white;
  &:hover{
    color:#690d20;
  }
}



nav{
  padding:1rem;
  background: rgb(253,78,104);
  background: linear-gradient(90deg, rgba(253,78,104,1) 27%, rgba(222,77,60,1) 60%, rgba(156,54,75,1) 94%);

}

.attivo{
margin-left:1rem;
margin-right: 1rem;
transform: scale(1.6);
}
