<h3 class="text-center">Le nostre recensioni</h3>

<div class="container m-4" id="carousel">
  <div
    id="carouselExampleCaptions"
    class="carousel slide carousel-fade m-4"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active d-flex flex-row justify-content-center"
        data-bs-interval="4000"
      >
        <img
          src="./assets/ingollato.png"
          class="align-self-center d-block w-25 imgCliente"
          alt="dottIngollatoImg"
        />
        <div class="carousel-caption d-none d-md-block">
          <p>
            <q
              >Comprare dei lavoratori è un regalo d'amore verso sè stessi, che
              fa bene alla salute e aumenta il prestigio personale</q
            >
            <br />dott. Giovanni Ingollato, psichiatra
          </p>
        </div>
      </div>
      <div
        class="carousel-item d-flex flex-row justify-content-center"
        data-bs-interval="4000"
      >
        <img
          src="./assets/donnePerbene.jpg"
          class="align-self-center d-block w-50 imgCliente"
          alt="pazientiDottIngollatoImg"
        />
        <div class="carousel-caption d-none d-md-block">
          <p>
            <q
              >Comprare capi qui ha riempito il vuoto esistenziale della
              nostra personale esperienza di vita</q
            >
            <br />
            clienti del dott.Ingollato
          </p>
        </div>
      </div>
      <div
        class="carousel-item d-flex flex-row justify-content-center"
        data-bs-interval="4000"
      >
        <img
          src="./assets/clientiAssidui.webp"
          class="align-self-center d-block w-25 imgCliente clientiAssidui"
          alt="clientiAssiduiImg"
        />
        <div class="carousel-caption d-none d-md-block">
          <p>
            <q
              >Noi realizziamo contenuti in quanto, ontologicamente,
              procuriamo il contenitore. Quando dobbiamo comprare un
              vestito, veniamo sempre qui, perchè <br />
              siamo trattate bene dal personale e perchè perchè siamo le
              sorelle <br />
              di Mr.Craig</q
            >
            <br />amiche clienti del dott.Ingollato
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>





