h3{
  font-family: 'Dancing Script', cursive;
}
#carouselExampleCaptions{

  img{
      margin-top:50px;
      margin-bottom: 120px;
  }

  .clientiAssidui{
      margin-bottom:200px;
  }
  font-size: 30px;
  p,q,br{
  
    color:red;
  }
}

.imgCliente{
  border-radius: 50%;
}
